body{
    background: rgb(15 ,15 ,15);
    color: white;
    margin: 0px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
header{
    font-size: 50px;
    padding: 10px;
    text-align: center;
    border-bottom: solid 2px;
}
p{
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
    padding-left: 20px;
}
h1{
    font-size: 30px;
    text-align: center;
}
img {
    height: 200px;
}

--Classes--

.divvideo{
    padding: 20px
}
.videocategory{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.videocategory img{
    opacity: 0.5;
    transition-duration: 0.5s;
}
.videocategory img:hover{
    opacity: 1.0;
    transition-duration: 0.5s;
}
.highlight{
    background-color: rgb(48 ,58 ,73);
    padding-bottom: 80px;
    padding-top: 80px;
    padding-right: 60px;
    display: flex;
    justify-content: center;
}
.video-roll{
    padding-left:20px;
    padding-right:20px;
}
.otherrecc{
    text-align: center;
}
.txt{
    text-align: center;
    margin-right: 40px;
}